<section class="row">
  <aside class="profile col-s-4 col-m-6 col-l-4">
    <div class="card center">
      <img class="circle" src="/images/expositores/expo1.svg" />
      <b>{{user.username}}</b>
    </div>
    <div class="center card">
        <a href="https://twitter.com/intent/tweet?button_hashtag=InnovateHN" class="twitter-hashtag-button" data-size="large" data-text="Me he registrado al evento InnovateHN" data-url="https://innovatehn.unicah.edu" data-related="unicahonduras" data-show-count="false">Tweet #InnovateHN</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </aside>
  <section class="col-s-4 col-m-9 col-l-8">

  </section>
</section>
