<div class="hero">
    <div class="c title">
      <div style="padding:1em 0.025em;text-align:center;">
        Octubre 2017<br /> Si lo puedes imaginar, lo puedes innovar.<br />UNICAH
      </div>
    </div>
    <div class="c img shidden" style="background-image:url('images/icc_logo.png');">
        &nbsp;
    </div>
</div>

<div class="hero">
    <div class="c img shidden" style="background-image:url('images/hbg1.jpg');background-size:cover;">
        &nbsp;
    </div>
    <div class="c title alter col2">
      <div style="padding:1em 0.025em;text-align:center;">
      ¿Qué es InnovateHN?
      </div>
      <div>
        <p>
          El INNOVATE HN es un evento diseñado para emprendedores e innovadores,  que buscan de las mejores capacitaciones tecnológicas  y científicas que han impactado a nivel mundial en temas relacionados con la  robótica, seguridad en redes e informática, inteligencia artificial, diseñado y modelado en 3D, así como una cantidad enriquecida de temas innovadores, ideales para aquellos llamados a ser grandes en la innovación científica y tecnológica.
        </p>
        <p>
          La Universidad Católica de Honduras, en la rama de Ingeniería en Ciencias de la Computación ha preparado el INNOVATE HN enfocado en aquellos jóvenes apasionados por los grandes cambios y las  grandes invenciones, un evento preparado para aquellos que piensan en grande y que son la generación de cambio trascendental en la rama científica, tecnológica e innovadora a nivel mundial.
        </p>
      </div>
    </div>
</div>

<div class="exposit-base">
  <h1>Expositores</h1>
  <div class="exposit">
    <div class="card">
      <div class="front">
        <img src="images/expositores/carlosfiallos.png" />
      </div>
      <div class="back">
        <span class="stitle">Carlos Fiallos</span>
        <p></p>
      </div>
    </div>

    <!-- delete from here to -->
    <div class="card">
      <div class="front">
        <img src="images/expositores/hectorortiz.png" />
      </div>
      <div class="back">
        <span class="stitle">Hector Ortíz</span>
        <p></p>
      </div>
    </div>
    <div class="card">
      <div class="front">
        <img src="images/expositores/ronaldzuniga.png" />
      </div>
      <div class="back">
        <span class="stitle">Ronald Zuniga</span>
        <p></p>
      </div>
    </div>
    
    <!--here -->
  </div>
</div>

<div class="boletos">
  <h1>Obtén tu Boleto</h1>
  <!-- <a href class="btn">Consulta Aquí</a> -->
  <p style="text-align:center">
    Preventa del 02 - 12 de Octubre L350.00 <br/>
    Venta del 16 - 20 Octubre L400.00 <br />
    Venta In Situ L500.00
  </p>
</div>
<div class="patrocinadores">
  <div class="row">
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/prodeca.jpg" alt="PRODECA" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/gaming.jpg" alt="Game Central" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/arcor.jpg" alt="Arcor" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/tribuna.jpg" alt="La Tribuna" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/Irycom.jpg" alt="Irycom" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/sat.jpg" alt="SAT" /></div>
  </div>
</div>
