<div class="hero">
    <div class="c title">
      <div style="padding:1em 0.025em;text-align:center;">
        Octubre 2017<br /> Una Semana, La Semana<br />UNICAH
      </div>
    </div>
    <div class="c img shidden" style="background-image:url('images/hbg1.jpg');">
        &nbsp;
    </div>
</div>

<div class="hero">
    <div class="c img shidden" style="background-image:url('images/hbg1.jpg');">
        &nbsp;
    </div>
    <div class="c title alter col2">
      <div style="padding:1em 0.025em;text-align:center;">
      ¿Qué es InnovateHN?
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
</div>

<div class="exposit-base">
  <h1>Expositores</h1>
  <div class="exposit">
    <div class="card">
      <div class="front">
        <img src="images/expositores/expo1.svg" />
      </div>
      <div class="back">
        <span class="stitle">Expositor 1</span>
        <p>Assk asdflll.l asdffdfdfds .sdf  asdfdsdffdf Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf  Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf </p>
      </div>
    </div>

    <!-- delete from here to -->
    <div class="card">
      <div class="front">
        <img src="images/expositores/expo1.svg" />
      </div>
      <div class="back">
        <span class="stitle">Expositor 1</span>
        <p>Assk asdflll.l asdffdfdfds .sdf  asdfdsdffdf Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf  Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf </p>
      </div>
    </div>
    <div class="card">
      <div class="front">
        <img src="images/expositores/expo1.svg" />
      </div>
      <div class="back">
        <span class="stitle">Expositor 1</span>
        <p>Assk asdflll.l asdffdfdfds .sdf  asdfdsdffdf Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf  Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf </p>
      </div>
    </div>
    <div class="card">
      <div class="front">
        <img src="images/expositores/expo1.svg" />
      </div>
      <div class="back">
        <span class="stitle">Expositor 1</span>
        <p>Assk asdflll.l asdffdfdfds .sdf  asdfdsdffdf Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf  Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf </p>
      </div>
    </div>
    <div class="card">
      <div class="front">
        <img src="images/expositores/expo1.svg" />
      </div>
      <div class="back">
        <span class="stitle">Expositor 1</span>
        <p>Assk asdflll.l asdffdfdfds .sdf  asdfdsdffdf Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf  Assk asdflll.l asdffdfdfds.sdf  asdfdsdffdf </p>
      </div>
    </div>
    <!--here -->
  </div>
</div>

<div class="boletos">
  <h1>Obtén tu Boleto</h1>
  <a href class="btn">Consulta Aquí</a>
</div>
