<div class="hero">
    <div class="c title">
      <div style="padding:1em 0.025em;text-align:center;">
        <span style="font-size:2em;text-shadow:1px 1px 3px #DDD;">InnovateHN</span><br />
        Primer Congreso de Tecnología e Innovación<br /><br /><i>Si lo puedes imaginar, lo puedes innovar.</i><br />ICC UNICAH
        <a href="/docs/agenda.pdf" target="_blank" class="button primary" style="padding:0.5em 1em;margin-top:0.5em;">Ver Agenda</a>
      </div>
    </div>
    <div class="c img shidden" style="background-image:url('images/icc_logo.png');">
        &nbsp;
    </div>
</div>

<div class="hero" style="background-image:url('images/bginn.jpg');background-size:cover;background-position:center center">
    <div class="c img shidden" >
        &nbsp;
    </div>
    <div class="c title alter col2">
      <div style="padding:1em 0.025em;text-align:center;">
      ¿Qué es InnovateHN?
      </div>
      <div>
        <p>
          El INNOVATE HN es un evento diseñado para emprendedores e innovadores,  que buscan de las mejores capacitaciones tecnológicas  y científicas que han impactado a nivel mundial en temas relacionados con la  robótica, seguridad en redes e informática, inteligencia artificial, diseñado y modelado en 3D, así como una cantidad enriquecida de temas innovadores, ideales para aquellos llamados a ser grandes en la innovación científica y tecnológica.
        </p>
        <p>
          La Universidad Católica de Honduras, en la rama de Ingeniería en Ciencias de la Computación ha preparado el INNOVATE HN enfocado en aquellos jóvenes apasionados por los grandes cambios y las  grandes invenciones, un evento preparado para aquellos que piensan en grande y que son la generación de cambio trascendental en la rama científica, tecnológica e innovadora a nivel mundial.
        </p>
      </div>
    </div>
</div>

<div class="exposit-base">
  <h1>Expositores</h1>

  <div class="exposit">
    <div class="card">
      <div class="front">
        <img src="images/expositores/chan_ho_yu.png" />
      </div>
      <div class="back">
        <span class="stitle">Chang, Ho-Yu</span>
        <p>
          CEO y CTO  de GeStream, Empresa dedicada a la Robotica
          <br/>
          Gestor de Diseño, QA, Data y Manufactura de Productos en Grupo Tecnológico Foxconn | PCE
        </p>
      </div>
    </div>
    <div class="lb">

    </div>
    <div class="card">
      <div class="front">
        <img src="images/expositores/carlosfiallos.png" />
      </div>
      <div class="back">
        <span class="stitle">Carlos Fiallos</span>
        <p>
          Consultor TI, Auditoria de Sistemas, Seguridad Informática, Control de Riesgos y Continuidad de Negocio
        </p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <img src="images/expositores/hectorortiz.png" />
      </div>
      <div class="back">
        <span class="stitle">Hector Ortíz</span>
        <p>CISM ISACA Certificado en Seguridad de la Información, Seguridad Informático MIT, Consultor TI 20 años.</p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <img src="images/expositores/ronaldzuniga.png" />
      </div>
      <div class="back">
        <span class="stitle">Ronald Zuniga</span>
        <p>
          CISA ISACA Certificado en Auditoría de Sistemas de Información, Master en Gestión de Proyectos ADEN
        </p>
      </div>
    </div>

    <div class="card">
      <div class="front">
        <img src="images/expositores/jorgemaradiaga.png" />
      </div>
      <div class="back">
        <span class="stitle">Jorge Maradiaga</span>
        <p>
          Master en Investigación en Ingeniería de Procesos y Sistemas Industriales orientado a AI y Robotica, Universidad de Valladolid España
        </p>
      </div>
    </div>

  </div>
</div>

<div class="boletos">
  <h1>Obtén tu Boleto</h1>
  <!-- <a href class="btn">Consulta Aquí</a> -->
  <div class="boletos_ex">
      <div class="card golden" >
        <div class="front">
          <div class="gold">
            GOLD
          </div>
        </div>
        <div class="back">
          <p>
            El boleto GOLD te da acceso a todas las conferencias y workshops
          </p>
          <table style="width:100%" >
            <tr>
              <td colspan="2" class="center bu">
                2 - 15 Octubre
              </td>
            </tr>
            <tr>
              <td>
                Preventa
              </td>
              <td class="right">
                L350.00
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center bu">
                16 - 20 Octubre
              </td>
            </tr>
            <tr>
              <td>
                Venta
              </td>
              <td class="right">
                L400.00
              </td>
            </tr>

            <tr>
              <td class="bd bu">
                In Situ
              </td>
              <td class="right bd bu">
                L450.00
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card silverado">
        <div class="front">
          <div class="silver">
            SILVER
          </div>
        </div>
        <div class="back">
          <p>
            El boleto SILVER te da acceso a las conferencias de informática.
          </p>
          <br/>

          <table style="width:100%" >
            <tr>
              <td colspan="2" class="center bu">
                2 - 15 Octubre
              </td>
            </tr>
            <tr>
              <td>
                Preventa
              </td>
              <td class="right">
                L100.00
              </td>
            </tr>
            <tr>
              <td colspan="2" class="center bu">
                16 - 20 Octubre
              </td>
            </tr>
            <tr>
              <td>
                Venta
              </td>
              <td class="right">
                L150.00
              </td>
            </tr>

            <tr>
              <td class="bd bu">
                In Situ
              </td>
              <td class="right bd bu">
                L200.00
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>

<div class="patrocinadores">
  <div class="row">
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/prodeca.jpg" alt="PRODECA" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/gaming.jpg" alt="Game Central" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/arcor.jpg" alt="Arcor" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/tribuna.jpg" alt="La Tribuna" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/Irycom.jpg" alt="Irycom" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/sat.jpg" alt="SAT" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/bi.jpg" alt="BI" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/kingp.jpg" alt="King Photo" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/jon.jpg" alt="Jonteblu" /></div>
    <div class="col-s-4 col-m-4 col-l-2"><img src="/images/p/lagirl.jpg" alt="L.A. Girl" /></div>
  </div>
</div>
