<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Yrsa" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <span><a href="/">InnovateHN</a></span>
       <ul class="menu">
        {{#if isAuthenticated}}
          <li><a href="/dashboard">Inicio</a></li>
          <li><a href="/logout">Cerrar Sesión</a></li>
        {{else}}
          <li><a href="/signup">Registrar</a></li>
          <li><a href="/login">Ingresar</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="content">
      {{{body}}}
    </div>
    <div class="footer">
      @ Derechos Reservados 2017
    </div>
  </body>
</html>
