<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Yrsa" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <span>InnovateHN</span>
      <!-- <ul class="menu">
        <li><a href>Registrar</a></li>
        <li><a href>Ingresar</a></li>
        <li>{{useremail}}</li>
      </ul>
    -->
    </div>
    <div class="content">
      {{{body}}}
    </div>
    <div class="footer">
      @ Derechos Reservados 2017
    </div>
  </body>
</html>
