<div class="row full">
  <div class="col-s-4 col-m-5 col-l-4 profile">
    <div class="card center">
      <img class="circle" src="/images/expositores/expo1.svg" />
      <b>{{user.username}}</b>
      <br />
      <a class="button small" href>Editar Perfil</a>
    </div>
  </div>
</div>
