@darkPrimaryColor:   #002437;
@primaryColor:       #005F99;
@lightPrimaryColor:  #DDEDF6;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #9E9E9E;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;
@errorcolor:         #960000;

@titleFontFamily: 'Yrsa', serif;
@normalFontFamily: 'Didact Gothic', sans-serif;

*{
  box-sizing: border-box;
  -moz-box-sizing:border-box;
}
body{
  margin:0px;
  padding:0px;
  min-height: 100vh;
  font-family: @normalFontFamily;
  line-height: 1.5;
}


.header{
  position:relative;
  width: 100%;
  margin:0px;
  min-height: 8em;
  color: @textPrimaryColor;
  overflow: auto;
  box-shadow: 0px 2px 3px @darkPrimaryColor;
  span{
    display: block;
    font-size:3em;
    text-align: center;
    padding: 0px;
    width: 100%;
    font-family: @titleFontFamily;
    color:@primaryTextColor;
    a {
      color:@primaryTextColor;
      text-decoration: none;
    }
    @media (min-width: 480px){
      width: auto;
      font-size:4em;
      position: absolute;
      top:0em;
      left:1em;
      padding-left:1em;
    }
  }
  ul{
    position:absolute;
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    bottom:0em;
    width:100%;
    @media (min-width: 480px){
      right:4em;
      width:auto;
    }
    li{
      display:inline;
      a{
        text-align: center;
        min-width:6em;
        display: inline-block;
        padding: 0.75em 0.1em;
        color:@primaryTextColor;
        text-decoration: none;
        @media (min-width: 480px){
          min-width:8em;
        }
      }
      a:hover{
        box-shadow: 0px 0px 2px @darkPrimaryColor;
      }
    }
  }
}

.content{
  padding:0em 0em;
}

.footer{
  color:@accentColor;
  width: 100%;
  padding:1em;
  text-align: center;
}

.hero {
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.hero .c{
  display: flex;
  padding:0em 1em;
  flex-direction: column;
  @media (min-width: 720px){
    min-height: 480px;
    @media (min-width: 1024px){
      min-height: 720px;
    }
  }
}
.hero .c.title{
  flex:1;
  font-size: 2.5em;
  font-family: @titleFontFamily;
  line-height: 1.1;
  align-items: center;
  justify-content: center;
  p{
    font-size: 0.5em;
    line-height: 1.5;
  }

}
.col2 {
  flex:2 !important;
}

.alter {
  background-color: @primaryColor;
  color:@textPrimaryColor;
}
.hero .c.img{
  padding: 0px;
  flex:1;
  align-self: stretch;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;

}

.exposit-base{
  box-shadow: 0px 0px 3px @lightPrimaryColor;
  background-color: @darkPrimaryColor;
  padding:1em;
  h1{
    color:@textPrimaryColor;
    text-align: center;
  }
  @media(min-width:720px){
    background-image: url('/images/bg_exp.jpg');
    background-size: cover;
    background-position:center center;
    background-attachment: fixed;
  }
  .exposit{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .lb{
      width: 100%;
      content: '';
    }
    .card{
      background-color: @textPrimaryColor;
      border-radius: 3px;
      box-shadow: 1px 1px 3px @darkPrimaryColor;
      max-width: 90%;
      text-align: center;
      margin:0.5em;
      @media (min-width:480px){
        max-width: 45%;
        @media (min-width: 1024px){
          max-width: 30%;
        }
      }

      .front, .back{
        padding:0.5em;
        img{
          display: block;
          width: 150px;
          height: 150px;
          @media (min-width: 1024px){
            width: 200px;
            height: 200px;
          }
          margin: 1em auto 0px auto;
          margin-top:1em;
          padding: 0px;
          border-radius: 50%;
          box-shadow: 1px 2px 3px @darkPrimaryColor;
        }
      }
      .back{
        .stitle{
          display: block;
          font-size: 1.5em;
          font-weight: bold;
          border-bottom: 2px solid @dividerColor;
          padding:0.25em 1em 0.75em 1em;
        }
        p{
          text-align: justify;
          color:@secondaryTextColor;
          padding:0.5em 0.5em 0em 0.5em;
          @media (min-width:720px){
            padding:0.5em 1.5em 0em 1.5em;
          }
        }
      }
    }
  }
}

.boletos{
  background-color: @accentColor;
  margin:0px;
  margin-top:-3em;
  padding-top:4em;
  color:@primaryColor;
  min-height: 640px;
  background-image:url('/images/logoU2.png');
  background-repeat:no-repeat;
  background-size:80%;
  background-position:bottom center;
  h1{
    font-size: 6em;
    font-weight: bold;
    text-shadow: 2px 2px 3px @darkPrimaryColor;
    text-align: center;
    color:@primaryColor;
    font-family: @titleFontFamily;
    margin: 1em 0px 0px 0px;
    padding: 0px;
    text-align: center;
    line-height: 1;
  }
  .btn{
    margin:2em auto;
    width:90%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:@darkPrimaryColor;
    background-color: @lightPrimaryColor;
    padding:1em 1.25em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px @accentColor;
    @media (min-width: 480px){
      width:300px;
    }
  }
}

.shidden {
  display: none !important;
  @media (min-width: 480px ){
    display: unset !important;
  }
}

.row {
  width: 100%;
  margin: 0px;
  padding:0px 0.5em;
  overflow: auto;
  @media (min-width:480px){
    padding:0px 0.25em;
  }
  @media (min-width:720px){
    padding:0px 0.5em;
  }
}

[class^='col-']{
  float: left;
  margin:0px;
}
.row::after{
  content: '';
  display: table;
  clear: both;
}

.generate-columns(4,1,s);

@media (min-width:480px){
  .generate-columns(12,1,m);
}
@media (min-width:1025px){
  .generate-columns(12,1,l);
}


.generate-columns(@n, @i: 1, @p) when (@i =< @n) {
  .col-@{p}-@{i} {
    width: (@i * 100% / @n);
  }
  .col-@{p}-offset-@{i} {
    margin-left: (@i * 100% / @n);
  }
  .generate-columns(@n, (@i + 1), @p);
}

form{
  margin-top:1em;
  margin-bottom: 1em;
  padding: 1em;
}

fieldset, fieldset.row{
  border: none;
  padding:1em;
}


input[placeholder]{
  padding:0.75em 1em;
  border-radius: 3px;
  border:solid 1px @darkPrimaryColor;
  vertical-align: bottom;
  box-shadow: 1px 1px 3px @darkPrimaryColor;
}

button{
  padding:1em;
  width:100%;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 1px 1px 3px @darkPrimaryColor;
  &.primary{
    background-color: @primaryColor;
    color:@textPrimaryColor;
    border-color: @primaryColor;
    &:hover{
      background-color: fade(@primaryColor, 80%);
      border-color: fade(@primaryColor, 80%);
      cursor: pointer;
    }
  }
}

.profile{
  padding-top:1em;
  background-color: @lightPrimaryColor;
}

.card{
  padding:1em;
  box-shadow: 1px 1px 5px @darkPrimaryColor;
  margin: 0.25em 0.5em;
  background-color: @textPrimaryColor;
  img{
    margin:inherit auto;
    width:150px;
    height: 150px;
    border-radius: 50%;
  }
  b{
    display: block;
  }
}

.center {
  text-align: center;
}
.error{
  color:@errorcolor;
}

.patrocinadores{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img{
    display: block;
    width: 150px;
    height: 150px;
    padding: 0px;
    margin: 1em auto 0em auto;
    border-radius: 50%;
    @media (min-width: 480px){
      margin: 1em auto;
    }
  }
}
